<h2>Пользователи</h2>

<br>
<a href="<%= new_user_path %>" data-controls-modal="create-promocode-modal" class="btn btn-primary">Создать нового пользователя</a>
&nbsp;
<a href="<%= new_promocode_path %>" data-controls-modal="create-promocode-modal" class="btn btn-dfault" title="Написать сообщение, которое будет отправлено всем зарегистрированным пользователям">Написать всем сообщения на Email</a>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <!--<th>Статус</th>-->
      <th>Email</th>
      <th>Полное имя</th>
      <th>Телефон</th>
      <th>Компания</th>
      <th title="Количество групп у пользователя в данный момент">Групп</th>
      <th title="Ограничение на колечество групп">Лимит групп</th>
      <th title="Ограничение на колечество людей в группах">Лимит людей</th>
      <th title="Дата регистрации">Регистрация</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= paginate @users %>
