<h2>Промо-коды</h2>

<br>
<a href="<%= new_promocode_path %>" data-controls-modal="create-promocode-modal" class="btn btn-primary">Создать новый промо-код</a>
<br>

<% if @promocodes.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код</th>
        <th>Группы, шт.</th>
        <th>Пользователи, шт.</th>
        <th>Используется</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @promocodes %>
    </tbody>
  </table>
<% end %>

<div id="create-promocode-modal" class="modal hide fade alert-message in"></div>

<script>
  $('a[data-controls-modal="create-promocode-modal"]').click(function() {
    $('#create-promocode-modal').load("<%= raw new_promocode_path %>")
  })
//  $('a[data-manager-id]').click(function(){ $(this).text('...') })
//  $('a[data-approved-id]').click(function(){ $(this).text('...') })
</script>
