h2
  | Промо-коды
/div.tabbable.row
/  ul.nav.nav-tabs
/    li class="#{params[:show].nil? ? 'active' : ''}"
/      a href="#{users_path}"
/        | Все
/    li class="#{params[:show] == 'inactive' ? 'active' : ''}"
/      a href="#{users_path show: 'inactive'}"
/        | Неактивные
div class="row"
  div class="span1"
    h4
      | №
  div class="span3"
    h4
      | Код
  div class="span2"
    h4
      | Группы, шт.
  div class="span2" 
    h4 
      | Пользователи, шт.
  div class="span3"
    h4
      | Используется

- i = 0; @promocodes.each do |promocode|
  div class="row"
    div class="span1"
      = (i = i.next).to_s
    div class="span3"
      = promocode.code
    div class="span2"
      = promocode.groups_limit
    div class="span2"
      = promocode.people_limit
    div class="span3"
      - if promocode.user.nil?
        span.label
          | нет
      - else
        a href="#{user_path promocode.user}"
h3
  | Создать промо-коды

div.row
  a href="#{new_promocode_path}" data-controls-modal="create-promocode-modal" class="btn btn-primary btn-large"
    | Создать

div id="create-promocode-modal" class="modal hide fade alert-message in"

javascript:
  $('a[data-controls-modal="create-promocode-modal"]').click(function() { $('#create-promocode-modal').load("#{raw new_promocode_path}") })
/  $('a[data-manager-id]').click(function(){ $(this).text('...') })
/  $('a[data-approved-id]').click(function(){ $(this).text('...') })
